ul.navbar {
  padding: 0;
  margin: 0;
  list-style-type: none;
  overflow: hidden;
  background-color: #505050;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

ul.navbar>li {
  float: left;
  margin: 8px;
}

ul.navbar>li.right {
  float: right;
}

ul.navbar>li>a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}

ul.navbar>li>a:hover {
  background-color: darkgray;
}
